* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 46%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.instagram-phone img {
    height: 36rem;
}

.instagram-continue {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* vertical */
    align-items: center; /* horizontal */
    width: 40%;
    min-height: 34rem;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group img {
    height: 4.5rem;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1.2rem;
}

.profile-picture img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160,160,160);
    font-weight: bold;
}

.group .link-blue {
    color:#0095f6;
    font-weight: bold;
}

.get-the-app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .6rem;
}

.get-app {
    margin: 12px 0;
}

.button {
    margin: 0 8px;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.download img {
    overflow: hidden;
    height: 2.8rem;
}